#app {
    background-image: url("./assets/desk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #000;
    color: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  